.app-container {
  display: flex;
  /* justify-content: space-around; */
  /* padding-top: 2vh; */
  height: 100vh;
}
.server-browser {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 72px;
  padding-top: 8px;
}
.server-bubble {
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  color: white;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: margin-top 0.1s; */

  background-color: #36393f;
  border-radius: 50%;
  /* padding-bottom: 12px; */
  overflow: hidden;
}
.channel-plus {
  display: flex;
  align-items: center;
}
.channel-plus svg {
  color: var(--interactive-normal);
  width: 16px;
}
.server-bubble-container {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.server-bubble:active {
  margin-top: 2px;
}
.server-bubble:hover {
  background-color: rgb(88, 101, 242);
  border-radius: 35%;
}
.active-bubble {
  background-color: rgb(88, 101, 242);
  border-radius: 35%;
}
.active-server-indicator {
  box-sizing: border-box;
  position: absolute;
  display: block;
  width: 8px;
  border-radius: 0 4px 4px 0;
  margin-left: -70px;
  background-color: var(--header-primary);
  opacity: 1;
  height: 40px;
  transform: none;
}
.linkedin-bubble {
  background-color: var(--background-secondary);
  color: #0e76a8;
}
.linkedin-bubble:hover {
  background-color: #0e76a8;
  color: white;
}
.github-bubble {
  background-color: var(--background-secondary);
  color: #6cc644;
}
.github-bubble:hover {
  background-color: #6cc644;
  color: white;
}
.add-server-bubble {
  color: #3ba55d;
}
.add-server-bubble:hover {
  color: white !important;
  background-color: #3ba55d !important;
}
.channel-bar {
  padding-bottom: 2px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-grow: 1;
  /* width: 100%; */
  /* padding: 0 8px; */
}
.channel-button > .hash {
  padding-left: 6px;
}
.channel-button {
  font-size: 16px;
  line-height: 30px;
  height: 34px;
  margin: 2px 8px 2px 8px;
  padding: 0px 8px 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}
.channel-button:hover {
  background-color: var(--background-modifier-hover);
}
.active-channel {
  background-color: var(--background-modifier-selected) !important;
  cursor: default;
}
.active-channel-name {
  color: white !important;
}
.server-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-left: 10px; */
  background-color: var(--background-secondary);
  min-width: 240px;
  /* border-radius: 8px 0 0 0; */
  /* justify-content: space-between; */
}
.server-container-top .box-header {
  display: flex;
  justify-content: space-between;
}
.server-container-top button {
  background: 0;
  color: var(--text-muted);
}
.server-container-bottom {
  display: flex;
  justify-content: space-between;
  background-color: #292b2f;
  height: 52px;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 8px;
  margin-bottom: 1px;
}
.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  background-color: var(--background-primary);
}
.center-text {
  display: flex;
  align-items: center;
}
.overlay-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  /* align-items: center; */
  /* padding-top: 20vh; */
}
.overlay-content {
  padding: 27px;
  position: relative;
  width: 440px;
  height: 558px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.overlay-content > .prompt-subtext {
  color: rgb(79, 86, 96);
}
.create-server-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-txt {
  font-size: 8px;
  color: var(--text-muted);
  margin-left: 0.25rem;
}
.hash {
  color: var(--text-muted);
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}
.hash > svg {
  height: 20px;
}
.small-hash {
  color: var(--text-muted);
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
}
.username {
  color: var(--header-primary);
}
.user-message {
  word-wrap: break-word;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 1rem;
}
.edit-btn {
  margin: 8px 0;
  background-color: transparent;
  color: var(--text-link);
  font-size: 12px;
}
.edit-btn:hover {
  text-decoration: underline;
}
.all-messages-container {
  overflow-y: auto;
  flex-flow: column nowrap;
  display: flex;
}
.message-container {
  position: relative;
  display: flex;
  width: 100%;
  /* padding-bottom: 1rem; */
  padding-top: 8px;
  padding-left: 1rem;
}

.active-msg {
  background-color: rgba(4, 4, 5, 0.07);
}
.white {
  color: var(--header-primary);
}
.box-header {
  /* border-bottom: 1px solid black; */
  box-shadow: var(--elevation-low);
  padding: 0 4px 0 16px;
  font-size: 16px;
  min-height: 48px;
  z-index: 1;
  display: flex;
  align-items: center;
  font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin-bottom: auto !important;
}
.text-channels-header {
  /* width: 100%; */
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: #8e9297;
  line-height: 24px;
  cursor: default;
  padding: 16px 4px 0px 16px;
  margin-right: 10px;
  font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.user-cog > svg {
  height: 24px;
  width: 24px;
}
.user-cog:hover {
  background-color: var(--background-modifier-hover);
}
.user-cog {
  line-height: 0;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 4px;
  position: relative;
  color: var(--interactive-normal);
}
.overlay-close {
  color: var(--interactive-normal);
  position: absolute;
  top: 12px;
  right: 12px;
}
.edit-textarea {
  margin-top: 8px;
  color: white;
  background-color: rgb(64, 68, 75);
  overflow-x: hidden;
  /* overflow-y: scroll; */
  resize: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  width: 100%;
  max-height: 100%;
  /* height: 44px; */
  /* min-height: 44px; */
  color: var(--text-normal);
  padding: 11px 16px;
  border-radius: 8px;
}
.message-tools {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 48px;
  position: absolute;
  top: 0px;
  left: 256px;
  z-index: 1;
  background-color: rgb(54, 57, 63);
  box-shadow: rgba(4, 4, 5, 0.15) 0px 0px 0px 1px;
  margin: 0 14px 0 32px;
  overflow: hidden;
}
.message-tools div:last-of-type {
  color: #ed4245;
  cursor: pointer;
  transition: background 0.2s ease;
}
.message-tools div:first-of-type:hover {
  color: rgb(54, 57, 63);
  background-color: white !important;
}
.message-tools div:last-of-type:hover {
  color: white;
  background-color: #ed4245 !important;
}
.message-tools div {
  margin: auto;
  text-align: center;
  vertical-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-tools div svg {
  height: 24px;
  width: 24px;
}
