.app-container {
  display: flex;
  /* justify-content: space-around; */
  /* padding-top: 2vh; */
  height: 100vh;
}
.server-browser {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
}
.server-card {
  padding-bottom: 15px;
}
.channel-bar {
  padding-bottom: 15px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
}
.server-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-left: 10px; */
  background-color: var(--background-secondary);
  width: 20%;
  /* border-radius: 8px 0 0 0; */
  /* justify-content: space-between; */
}
.server-container-bottom {
  display: flex;
  justify-content: space-between;
}
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  background-color: var(--background-primary);
}
.center-text {
  display: flex;
  align-items: center;
}
.overlay-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  /* align-items: center; */
  /* padding-top: 20vh; */
}
.overlay-content {
  width: 500px;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.create-server-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-txt {
  font-size: 8px;
  color: var(--text-muted);
  margin-left: 0.25rem;
}
.hash {
  color: var(--text-muted);
}
.username {
  color: white;
}
.user-message {
  padding-left: 0.5rem;
}
.message-container {
  display: flex;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.white {
  color: white;
}
